.header{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: x-large;
    color: black;
    background-color: beige;
    
}

.body{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    background-color: blanchedalmond;

}
d2{
    font-style: Arial;
    font-size: 30px;
    font-weight: bold
}